.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.feature {
  font-size: 33px;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.nav-link {
  opacity: 0.5;
}
.nav-link:hover {
  opacity: 1;
}
.nav-link.nav-item.active {
  color: white !important;
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
